@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 99%;
    --foreground: 20 14.3% 4.1%;
    --card: 240 60% 99%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 240 60% 99%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 290 60% 50%;
    --primary-foreground: 290 60% 95%;
    --secondary: 290 85% 90%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 290 90% 96%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 290 60% 90%;
    --input: 290 60% 94%;
    --ring: 290 60% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 290 60% 50%;
    --primary-foreground: 290 60% 95%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 290 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
